body {
    display: flex;
    flex-direction: column;
}

.header,
.footer,
.title {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-list {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 15px;
    padding: 0;
}

.header-item{
    text-decoration: none;
    color: #E5E7EB;
}

.title {
    display: flex;
    flex-direction: row;
    padding: 2% 7%;
    gap: 5%;
}

.title-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img {
    width: 300px;
    max-width: 300px;
    display: flex;
}

.title-text {
    color: #E5E7EB;

}

.hero-text {
    display: flex;
    text-wrap: wrap;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.signup {
    background-color: #3882F6;
    width: 100px;
    justify-content: baseline;
    border: 0;
    color: #F9FAF8;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 4px;
}