body {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-list {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 15px;
    padding: 0;
}

.header-item{
    text-decoration: none;
    color: #E5E7EB;
}